/* Global Styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(Images/space.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    line-height:1.6;
}

/* Header */
header{
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin:0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration:none;
    font-size: 18px;
}
nav ul li a:hover{
    text-decoration: underline;
}

/* Main */
main {
    padding: 20px;
}
h1,h2 {
    color:#333;
}
#about {
    margin-bottom: 20px;
}
#gallery-item {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap:10px;
}
.gallery-item {
    text-align: center;
}
.gallery-item img {
    max-width: 100%;
    height: auto;
}
/* Contact Me*/
#contact {
    height:50vh;
}
/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}